main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content:nth-child(1), .content:nth-child(2) {
    max-width: 1320px;
    margin: 40px 40px 80px 32px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.content:nth-child(3) {
    margin: 40px 40px 80px 32px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.content .main-notice {
    max-width: 608px;
    max-height: 416px;
    padding-right: 16px;
}

.content .main-notice .notice img {
    max-width: 100%;
    border-radius: 8px;
}

.content .notice {
    position: relative;
}

.content .notices {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.content .notice {
    position: relative;
}

.content .notices .notice {
    max-width: 288px;
    height: 200px;
    box-sizing: border-box;
}

.content .notice .description {
    height: 180px;
    position: absolute;
    bottom: 0;
    padding: 24px;
    gap: 8px;
    background: linear-gradient(180deg ,rgba(0, 0, 0, 0), rgb(0, 0, 0));
    border-radius: 8px;
}

.content .notice .description-small{
    height: 120px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    gap: 8px;
    background: linear-gradient(180deg ,rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.content .notice .description-small p {
    margin-top: 8px;
    font: var(--paragraph);
}

.tag {
    background-color: var(--brand-color-dark);
    border-radius: 4px;
    padding: 4px 8px;
    font: var(--tag);
    text-transform: uppercase;
}

.content .notice .description p {
    margin-top: 8px;
    font: var(--font-heading1);
}

.content .notices .notice img {
    width: 100%;
    border-radius: 8px;
}

.divisor {
    width: 100%;
    height: 1px;
    background-color: var(--stroke-color);
}

/* Section two */ 

.top-title {
    width: 100%;
}

.top-title ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-title ul li {
    font: var(--span);
    color: var(--text-color-secondary);
}

.top-title ul li span {
    display: flex;
    gap: 4px;
}

.card-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px;
}

.card-area .card {
    max-width: 292px;
    max-height: 234px;
}

.card-area .card .card-image img {
    width: 100%;
    object-fit: cover;
}

.card-area .card .card-image {
    position: relative;
}

.card-area .card .card-image .tag {
    position: absolute;
    top: 12px;
    left: 16px;
}

.card-area .card .card-bottom {
    margin-top: 6px;
    font: var(--font-heading2);
}

.horizontal-notices:nth-child(2) {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.horizontal-notices:nth-child(4) {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.horizontal-notice {
    display: flex;
    max-width: 696px;
    gap: 16px;
}

.horizontal-notice .left-side {
    display: flex;
    flex-direction: column;
}

.horizontal-notice .left-side .tag {
    width: 170px;
}

.horizontal-notice .left-side span {
    margin: 8px 0px 4px 0px;
    font: var(--font-heading2);
}

.horizontal-notice .left-side p {
    font: var(--paragraph);
}

.horizontal-notice .right-side {
    width: 200px;
    height: 200px;
}

.horizontal-notice .right-side img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.content aside {
    gap: 32px;
}

.content aside .ad {
    max-width: 488px;
    height: 280px;
    margin-bottom: 32px;
}

.content aside .ad img {
    width: 100%;
}

.content aside .top-title {
    margin-top: 12px;
}

aside .horizontal-notice-sm {
    display: flex;
    max-width: 488px;
    align-items: center;
    gap: 15px;
}

aside .horizontal-notice-sm .left-side img {
    width: 80px;
    height: 80px;
}

aside .horizontal-notice-sm .right-side {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

aside .horizontal-notice-sm .right-side span {
    margin-top: 6px;
    font: var(--font-heading2);
}